config_opts['root'] = 'clear'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'groupinstall build srpm-build'
config_opts['dist'] = 'clear'  # only useful for --resultdir variable subst
config_opts['extra_chroot_dirs'] = [ '/run/lock', ]
config_opts['useradd'] = '/usr/sbin/useradd -m -u %(uid)s -g %(gid)s -d %(home)s  %(user)s'
config_opts['plugin_conf']['ccache_enable'] = False
config_opts['plugin_conf']['root_cache_opts']['compress_program'] = 'zstd -5'
config_opts['plugin_conf']['root_cache_opts']['extension'] = '.zst'
config_opts['releasever'] = 'clear'
config_opts['package_manager'] = 'dnf'
config_opts['chrootgroup'] = 'mockbuild'
config_opts['use_bootstrap_container'] = False


config_opts['dnf.conf'] = """

[main]
cachedir=/var/cache/dnf
keepcache=1
debuglevel=1
reposdir=/dev/null
logfile=/var/log/dnf.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

# repos


[local]
name=local
baseurl=https://cdn.download.clearlinux.org/current/x86_64/os/
gpgcheck=0
cost=2000
enabled=1


[debuginfo]
name=debuginfo
baseurl=https://cdn.download.clearlinux.org/current/x86_64/debug/
gpgcheck=0
cost=2000
enabled=1
"""
